.inputField {
  width: 100%;
  margin: 0.4px 0.3rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

/* .inputLabel {
  margin: 0.5rem 0.5rem;
  display: inline-block;
} */

.error {
  border: 1px solid red !important;
}

.inputField label .requird {
  color: red;
  margin: 0.3rem 0rem;
}
.inputField .fileUpload > .MuiButton-root {
  background: "#007bff";
  color: "#fff";
  border-radius: "0.25rem";
  padding-left: "1rem";
  padding-right: "1rem";
  text-transform: "none";
  cursor: pointer;
}
.helperText {
  color: var(--greyText);
  text-align: unset !important;
  text-transform: capitalize;
}

.filePreview {
  /* width: 100%; */
  border-radius: var(--borderRadius);
  border: 1px solid var(--greyText);
}
.filePreview > * {
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius);
  border: 1px solid var(--greyText);
}

.inputField select,
input {
  /* margin: 0rem 1rem; */
  width: 100%;
  height: 1.4375em;
  border-radius: 4px;
  padding: 16.5px 14px;
}

.inputField input[type="radio"] {
  color: var(--PrimaryColor);
}

.response_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* position: "fixed"; */
  /* z-index: 1000; */
}
