
.formInput {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: none; 
}

.formInput select {
  background: var(--bodyColor);
  border: none;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--greyText);
  border-radius: 5px;
  color: var(--textColor);
}

.formInput label {
  text-transform: capitalize;
  color: var(--textColor);
}

.formInput label span {
  color: red;
  margin: 0px 2px;
}

.formInput p {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.formInput select:invalid[focused="true"] {
  border: 1px solid red;
}
.formInput select:invalid[focused="true"] ~ p {
  display: block;
}
