.navBarSection {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.navBarSection .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bodyColor);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.2);
}
.navBarSection .header .logo {
  color: var(--PrimaryColor);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.navBarSection .header .logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  transform: translateY(5px);
}
@media screen and (max-width: 768px) {
  .navBarSection .header .navBar {
    position: absolute;
    background: var(--bodyColor);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -50rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.4s ease-in-out;
  }
  .navBarSection .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .navBarSection .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .navBarSection .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .navLists .btn {
    margin-top: 1rem;
  }
  .navBarSection .header .navBar .navLists .btn a {
    font-weight: 600;
    color: var(--whiteColor);
  }
  .navBarSection .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navBarSection .header .navBar .closeNavbar:hover {
    color: var(--SecondaryColor);
  }
  .navBarSection .header .activeNavbar {
    top: 6rem;
  }
}
.navBarSection .header .toggleNavbar .icon {
  cursor: pointer;
  font-size: 25px;
  color: var(--PrimaryColor);
}
.navBarSection .header .toggleNavbar:hover .icon {
  color: var(--SecondaryColor);
}

.navBarSection + * {
  margin-top: 100px;
}

@media screen and (min-width: 769px) {
  .toggleNavbar,
.closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .btn {
    margin-left: 1rem;
  }
  .header .navBar .navLists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 0.5rem;
  }
}/*# sourceMappingURL=navbar.module.css.map */